p {
    color: white;
    font-family: sans-serif;
}

h2 {
    color: white;
    font-family: sans-serif;
}

.movieDetails {
    background-color: rgba(0,0,0, 0.75);
    font-size: .75vw;
    height: auto;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 10px;
}

.detailsSection {
  margin: auto;
  margin-top: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.singleMoviePoster {
  height: 35vw;
  width: 22vw;
  padding:.5vw;
  margin:.5vw;
  opacity: 0.9;
  background-color: #141414;
  border-radius: 10px;
}

.detailTrailerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleGenre {
  margin-right: 10px;
}
.movieGenreBox {
  display: flex;
  justify-content: center;

}
