p {
    color: white;
    font-family: sans-serif;
}

h2 {
    color: white;
    font-family: sans-serif;
}

.movieDetails {
    background-color: rgba(0,0,0, 0.75);
    height: 16vh;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}