
html {
  background-color: black;
  height: auto;
}

.errorMessage {
  color: white;
}


.homeLink {
  text-decoration: none;
  font-size: 2vw;
  font-weight: bolder;
  color: white;
  display: flex;
  margin-left: 1vw;
  width: 10vw;
}
.App {
  height: auto;
  display: flex;
  background-color: black;
  flex-direction: column;
  text-align: center;
}

.movieDetailsContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
  height: 30vw;
}

.navBar {
  margin-top: 10px;
}
