html {
  background-color: #666666;
  height: 100%;
}

.errorMessage {
  color: white;
}
.title {
  color: white;
  display: flex;
  margin-left: 5vw;
  width: 15vw;
}
.App {
  height: 100vw;
  display: flex;
  background-color: black;
  flex-direction: column;
  text-align: center;
}

.movieDetailsContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
}
